
.loader {
  --d:20px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  color: rgb(113, 110, 110);
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 0.5px,
    calc(0*var(--d))      calc(1*var(--d))     0 1px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 2px,
    calc(-1*var(--d))     calc(0*var(--d))     0 3px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 4px,
    calc(0*var(--d))      calc(-1*var(--d))    0 4px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}


.histogramTable_arrow{
  background-color: transparent;
  transition: background-color 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.histogramTable_arrow:hover{
background-color: rgb(201, 206, 204);
}

.histogramTable_TableHead{
  flex-direction: column;
  width: 133px;
  min-width: 133px;
  justify-content: space-around;
  padding: 4px 0;
}
.histogramTable_carouseldiv{
 gap:10px;
}

.histogramTable{
  width: 100%;
}
@media (max-width: 404px){

  .histogramTable{
min-width: 365px;
 }
  .histogramTable_carouseldiv{
    gap:0px;
   }

  .histogramTable_arrow{
    width: 30px;
  }

  .histogramTable_arrow img{
    width: 30px;
  }

  .histogramTable{
    min-width: 300px;
  }

  .histogramTable_carouseldiv{
    width: 298px;
    min-width: 298px;
  }
  .histogramTable_scrolldiv{
    flex-direction: column;
  }

  .histogramTable_TableHead{
    flex-direction: row;
    width: 298px;
    min-width: 298px;
    justify-content: flex-start;
    gap:50px;
    padding: 0 15px;
  }

}