
.button{
  width: 355px;
}
.button:hover:not(:disabled){
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out ;
  cursor: pointer;
}
.button:disabled{
  opacity: 0.5;
}

@media (max-width: 400px) {
  .button{
    width: 286px;
  }
  }
  