
.Login_Reg_Form_main_div{
	margin: 80px 0
}

.Login_Reg_Form_H1{
	width: 50%;
}
.Login_Reg_Form_content{
	align-items: flex-start;
}

.Login_Reg_Form_img{
	position: absolute;
	margin-top: 100px;
	margin-left: 112px;
	width: 25%;
	height: auto
}
@media (max-width: 846px){
	.Login_Reg_Form_main_div{
		margin: 31px 0
	}
	.Login_Reg_Form_H1{
		/* margin-top: 45px; */
		width: 100%;
		margin-bottom: 70px;
	}
	.Login_Reg_Form_content{
		justify-content: center;
		align-items: center;
	}

.Login_Reg_Form_img{
	position:unset;
	width: 40%;
	height: auto
  }
}

@media (max-width: 610px){
	.Login_Reg_Form_H1{
		margin-bottom: 105px;
	}
		
		.Login_Reg_Form_img{
			margin-top: 49px;
	   margin-left: 0;
			bottom: 0;
			width: 60%;
			height: auto
		}
}
