
.histogramCard{
  transition: all 0.7s ease-in-out;
  flex-direction: column;
  width: 133px;
  height: 155px;
  min-width: 133px;
  font-weight: 500;
  min-height: 155px;
  margin: 16px 0;
  font-size: 18px;
  padding: 4px 0;
  justify-content:space-between;
  align-items: center;
}

.histogramCard:hover {
  transform: translate(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }


  @media (max-width: 404px){
    .histogramCard{
      box-sizing: border-box;
      justify-content: flex-start;
      gap: 50px;
      height:65px;
      flex-direction: row;
      font-size: 16px;
      font-weight: 400;
      width: 295px;
      min-width: 295px;
      min-height: auto;
      max-height: 65px;
      max-width: 295px;
      padding: 0 15px;
       margin: 0;
    }
  }