.authForm_lock_img{
		position:absolute;
		top:-50px;
		left: -40px;
		width: 72px;
		height: auto;
}

.AuthForm_submitButton:hover:not(:disabled) {
	background-color: #086260 !important;
}

.authForm_container{
width: 429px;
height: 523px;
}
@media (max-width: 580px){
	.authForm_lock_img{
		top:-60px;
		left: 50px;
}
}


@media (max-width: 450px){



.authForm_container{
	width: 90%;
  height: 523px;
}


}